
<form [formGroup]="autorForm">
    <p>codigo</p>
    <div><imput type="text" formControlName="code" name="code"></div>
    <p>Nombre</p>
    <div><imput type="text" formControlName="name" name="name"></div>
    <p>Apellido</p>
    <div><imput type="text" formControlName="lastname" name="lastname"></div>
    <p>Fecha de nacimiento</p>
    <div><imput type="text" formControlName="bd_year" name="bd_year"></div>
    <p>Fecha de muerte</p>
    <div><imput type="text" formControlName="deaath_year" name="deaath_year"></div>
    <p>Lugar de nacimiento</p>
    <div><imput type="text" formControlName="bd_place" name="bd_place"></div>

</form>


